.THIS {
    background-color : white;
}
h1.THIS{
     font-size:18pt;
     color : green;
     }
 h2.THIS{
     font-size:8pt;
     }
 h3.THIS{
     font-size:14pt;
     }
 h4.THIS{
     font-size:12pt;
     }
 h5.THIS{
     font-size:10pt;
     }
 h6.THIS{
     font-size:8pt;
     }