.THIS {
}
h1.THIS{
    font-size:18pt;
    color : green;
}
.THIS.saf
{
    font-size:8pt;
    color : black;
}
h2.THIS{
    font-size:8pt;
    color : yellow;
}
h3.THIS{
    font-size:14pt;
    color : red;
}
h4.THIS{
    font-size:12pt;
    color : blue;
}
h5.THIS{
    font-size:10pt;
    color : grey;
}
h6.THIS{
    font-size:8pt;
    color : pink;
}